 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/desktopimgwomanindexcozyd.st.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 998px;
  min-height: 628px;
  margin: 108px auto;
}

.u-section-1 .u-image-1 {
  width: 423px;
  height: 425px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 62px 268px 0 auto;
}

.u-section-1 .u-logo-image-1 {
  width: 100%;
  height: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px 364px 0 auto;
  padding: 30px 70px 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 823px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 630px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 205px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 154px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 80px;
    margin-bottom: 60px;
    min-height: 584px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 208px;
    height: 210px;
    transition-duration: 0.5s;
    margin-top: 93px;
    margin-right: auto;
    margin-left: 54px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
    transition-duration: 0.5s;
    margin-top: 74px;
    padding: 10px 46px 12px 45px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 509px;
}

.u-section-2 .u-group-1 {
  width: 855px;
  min-height: 389px;
  height: auto;
  margin: 28px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 150px;
  width: 150px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  line-height: 1.7;
  font-style: italic;
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 25px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-group-1 {
    min-height: 188px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    min-height: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 108px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-2 .u-group-1 {
    min-height: 342px;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 13px 0;
  }

  .u-section-2 .u-icon-1 {
    height: 100px;
    width: 100px;
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 23px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    height: 39px;
    width: 39px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin-top: 23px;
    margin-right: 10px;
    padding: 0;
  }
} .u-section-3 {
  min-height: 307px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -75px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/desktopimgwomanindexpufferd.st.jpg");
  min-height: 307px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  background-image: url("images/7149252709_9_2_1.jpg");
  min-height: 307px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/6518274800_9_2_11.jpg");
  min-height: 307px;
  background-position: 50% 0%;
}

.u-section-3 .u-image-4 {
  background-image: url("images/desktopimgwomanindexcozyd.st-7.jpg");
  min-height: 307px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-5 {
  min-height: 307px;
  background-image: url("images/6208786427_2_10_1.jpg");
  background-position: 50% 50%;
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1228px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 244px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 25px 513px 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: -39px auto 0 527px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: -39px 538px 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: -39px auto 0 547px;
}

.u-section-4 .u-text-5 {
  width: 680px;
  margin: 19px auto 0;
}

.u-section-4 .u-text-6 {
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 24px;
    margin-right: 423px;
    margin-left: 497px;
  }

  .u-section-4 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -38px;
    margin-left: 419px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -43px;
    margin-right: 444px;
    margin-left: 452px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -31px;
    margin-left: 433px;
  }

  .u-section-4 .u-text-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 324px;
    margin-left: 378px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 318px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 340px;
    margin-left: 340px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 243px;
    margin-left: 280px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 235px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 255px;
    margin-left: 247px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 243px;
  }

  .u-section-4 .u-text-5 {
    width: 540px;
  }

  .u-section-4 .u-text-6 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin-top: 9px;
    margin-right: 141px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -33px;
    margin-left: 128px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -33px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -33px;
    margin-left: 141px;
  }

  .u-section-4 .u-text-5 {
    width: 340px;
    margin-top: 26px;
  }

  .u-section-4 .u-text-6 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 180px;
}

.u-section-5 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 220px;
  min-width: 88px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-social-icons-1 {
    width: 300px;
    min-width: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-5 .u-social-icons-1 {
    height: 43px;
    width: 170px;
    min-width: 88px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}